doctype html
html(lang='ko')
    head 
        title #{pageTitle} | #{siteName}
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")
        link(rel="stylesheet" ,href="/static/css/styles.css")
        title #{pageTitle} | #{sideName}
    body  
        include partials/header
                    
        main
            block content
    include partials/footer
    script(src="/static/js/main.js") 
    script(src="https://kit.fontawesome.com/3d21646128.js" ,crossorigin="anonymous")
    script( src="https://t1.kakaocdn.net/kakao_js_sdk/${VERSION}/kakao.min.js"
  integrity="sha384-PFHeU/4gvSH8kpvhrigAPfZGBDPs372JceJq3jAXce11bVA6rMvGWzvP4fMQuBGL" crossorigin="anonymous")